/**
 * Variables
 */

:root {

  /* default depth to place interface */
  --hud-depth: -34cm;

  /* default depth to mono iframe content */
  --content-depth: calc(var(--hud-depth) - 4cm);
  --content-depth-hudOpen: calc(var(--hud-depth) - 8cm);

  /* default content dimensions */
  --content-width: 32cm; 
  --content-height: 26cm;

  /* icons size */
  --icon-size: 25px;
}


/**
 * Common animations
 */

@keyframes show {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes hide {
  from { opacity: 1; }
  to { opacity: 0; }
}


/**
 * Globals
 */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 1cm;
}

html,
body {
  background: hsl(228, 15%, 19%);
  height: 100%;
  width: 100%;
}

input {
  border: 0;
}


/**
 * VR classes
 */

.threed {
  left: 0;
  position: absolute;
  top: 0;
}

*:-moz-full-screen .threed {
  /* apply preserve-3d to that elements for layout in VR */
  transform-style: preserve-3d;
}

.camera {
  /*
  this is the element that serves as the viewport into the scene.
  hmd orientation and position is applied to this element.
  transform-origin specifies of position of the viewport.
  */
  transform-origin: 0 0 0;
}


/**
 * Content iframes
 */

/* fullscreen container */
#fs-container {
  background-color: hsl(228, 15%, 19%);
}

@keyframes fs-container-lighten {
  from { background-color: hsl(228, 20%, 13%); }
  to { background-color: hsl(228, 15%, 19%); }
}

@keyframes fs-container-darken {
  from { background-color: hsl(228, 15%, 19%); }
  to { background-color: hsl(228, 20%, 13%); }
}
 

/* 2D content container */

.container--mono {
  height: var(--content-height);
  width: var(--content-width);
}

*:-moz-full-screen .container--mono {
  /* translate top left so that mono content is centered in viewport, then position in 3D space */
  transform: translate(-50%, -50%) translate3d(0, 0, var(--content-depth));
}

@keyframes container-pushBack {
  from {
    transform: translate(-50%, -50%) translate3d(0, 0, var(--content-depth)) scale(1, 1);
  }
  to { 
    transform: translate(-50%, -50%) translate3d(0, 0, var(--content-depth-hudOpen)) scale(0.75, 0.75);
  }
}

@keyframes container-pullForward {
  from { 
    transform: translate(-50%, -50%) translate3d(0, 0, var(--content-depth-hudOpen)) scale(0.75, 0.75);
  }
  to { 
    transform: translate(-50%, -50%) translate3d(0, 0, var(--content-depth)) scale(1, 1); 
  }
}


/* stereo content container */
.container--stereo {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}


/* iframe */
.frame--mono {
  border: 0;
  width: var(--content-width);
  height: var(--content-height);
  transition: transform 0.5s ease;
  background: white;
}

[data-frame-pointer-events="none"] /* iframe */.frame--mono {
  /* Prevent iframe's pointer events from stealing focus away from the app.
     Uncomment this if you want the user to be able to click on any scrollable
     element and scroll within that element using a gamepad. */
  pointer-events: none;
  transition: transform 0.5s ease;
  width: 100%;
}

/* iframe */
.frame--stereo {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}



/**
 * HUD
 */

.hud {  
  --hud-width: 28cm;
  transform: translate3d(0, 0, var(--hud-depth));
}


/**
 * Title
 */

.title {
  background-color: black;
  color: white;
  font: 400 1.1rem/1 sans-serif;
  letter-spacing: 0.06em;
  line-height: 1em;
  overflow: hidden;
  padding: 0.75em 2em;
  text-overflow: ellipsis;
  text-transform: uppercase;
  transform: translate(-50%, -50%) translate3d(0, -10cm, -2cm);
  white-space: nowrap;
  width: var(--hud-width);
}

.title__text {
}

.title__icon {
  background-repeat: no-repeat;
  background-size: 100%;
  display: none;
  height: var(--icon-size);
  margin-left: calc(var(--icon-size) * -1);
  width: var(--icon-size);
}


/**
 * Directory
 */

.directory { 
  text-align: center;
  transform: translate(-50%, -100%) translate3d(0, 9cm, 0);
  width: 40cm;
}

.directory__tile {
  background: white;
  border: 0.25cm solid black;
  color: black;
  display: inline-block;
  font: 500 1.1rem/1em sans-serif;
  height: 7cm;
  margin: 0.25cm;
  overflow: hidden;
  padding: 0.5cm;
  position: relative;
  text-align: left;
  width: 7cm;
}

.directory__tile:hover {
  background-color: black;
  color: white;
}
 

/**
 * Loading
 */

.loading {
  background: hsla(197, 97%, 59%, 0.76);
  color: white;
  font: 600 0.75rem/1em sans-serif;
  padding: 0.6em;
  text-align: center;
  text-transform: uppercase;
  transform: translate(-50%, -50%) translate3d(0, 12cm, 4cm);
  width: 6cm;
}


/**
 * URL Bar
 */

.urlbar {
  background-color: hsla(228, 15%, 6%, 0.75);
  padding: 0.25rem;
  text-align: left;
  transform: translate(-50%, 0) translate3d(0, 10cm, 0);
  width: var(--hud-width);
}

.urlbar__input {
  font: 500 1.2rem/1 sans-serif;
  letter-spacing: 0.05em;
  padding: 0.5em 1em;
  text-align: center;
  text-transform: uppercase;
  transition: .25s width ease;
  width: 100%;
}

.urlbar__input, .urlbar__input::-moz-selection {
  background: white;
  color: hsl(0, 0%, 20%);
}


/**
 * Navigation controls
 */

.nav {
  -moz-user-select: none; /* Disable selection of navigation controls. */
  font-size: 1.5rem;
  padding: 1em;
  text-align: center;
  transform: translate(-50%, 0) translate3d(0, 12cm, 0);
  width: 28cm;
}

.nav__btn,
.fa.nav__btn {
  background: white;
  border: 0.25cm solid black;
  color: black;
  display: inline-block;
  line-height: 1em;
  margin: 0;
  padding: 0.5em;
  transition: .1s opacity;
}

.nav__btn:not([disabled]):hover {
  cursor: pointer;
  opacity: 1;
}

.nav__btn[disabled] {
  opacity: .25;
  pointer-events: none;
}


/**
 * Background
 */
/* The goal here is the obscured the active site while the HUD is open, for the sake of legibility. */
/* Alternative would be to reduce opacity on the container, but this creates glitches on 3D transformed elements (they disappear) */

.background {
  background: hsla(228, 20%, 13%, 0.9);
  height: var(--content-height);
  transform: translate(-50%, -50%) translate3d(0, 0, -4cm);
  width: var(--content-width);
}

@keyframes background-fadeIn {
  from { background-color: hsla(228, 20%, 13%, 0); }
  to { background-color: hsla(228, 20%, 13%, 0.95); }
}

@keyframes background-fadeOut {
  from { background-color: hsla(228, 20%, 13%, 0.95); }
  to { background-color: hsla(228, 20%, 13%, 0); }
}


/**
 * Window controls
 */

.window-controls {
  left: 10px;
  line-height: 30px;
  margin-left: 7px;
  position: absolute;
  top: 10px;
  transform: translate(0, 0) translate3d(0, 0, 10cm));
  vertical-align: center;
  width: 100px;
}

.window-controls .control {
  border-radius: 50%;
  display: inline-block;
  height: 12px;
  margin-right: 8px;
  width: 12px;
}

.window-controls .control--shutdown {
  background: #FC5753;
}

.window-controls .control--minimize {
  background: #FDBC40;
}

.window-controls .control--fullscreen {
  background: #33C748;
}

.window-controls .control:hover {
  background: hsl(0, 0%, 86%);
}


/**
 * Other interface
 */

.btn--entervr {
  background: hsl(0, 0%, 30%);
  border: 0;
  color: white;
  font: 300 0.5rem/1 sans-serif;
  letter-spacing: 0.1em;
  padding: 0.25rem;
  position: absolute;
  right: 2em;
  text-transform: uppercase;
  top: 2em;
}

.btn--entervr:hover {
  background: hsl(0, 0%, 45%);
  cursor: pointer;
};
